[Unit]
Description=Validator Service for bbb-stream
Requires=bbb-edge-stream.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=bbb-validator
Group=bbb-validator
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/bbb-validator/bbb-edge-stream/validator/
ExecStart=/home/bbb-validator/bbb-edge-stream/venv/bin/gunicorn -c /etc/bbb-edge-stream/gunicorn.conf.py validator.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target